<div class="container mt-4 d-flex justify-content-center">
  <form (ngSubmit)="analyzeText()" class="w-50 mb-3">
    <div class="input-group shadow-sm mb-3">
      <input
        type="text"
        class="form-control me-2"
        placeholder="Enter text"
        [(ngModel)]="inputText"
        name="inputText"
        required
      />
      <button class="btn btn-primary" type="submit">Analyze</button>
    </div>

    <div class="form-check form-switch mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
        [(ngModel)]="online"
        name="online"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault">
        {{ online ? 'Online' : 'Offline' }}
      </label>
    </div>

    <div class="mb-3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="vowels"
          name="letterType"
          [(ngModel)]="letterType"
          [value]="'vowels'"
        />
        <label class="form-check-label" for="vowels">Vowels</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="consonants"
          name="letterType"
          [(ngModel)]="letterType"
          [value]="'consonants'"
        />
        <label class="form-check-label" for="consonants">Consonants</label>
      </div>
    </div>

    <div *ngIf="errorMessage" class="text-danger mb-3">
      {{ errorMessage }}
    </div>

    <div *ngIf="lastResult && lastResult.nonAttributableCharacters && lastResult.nonAttributableCharacters.length > 0" class="text-info mt-3">
      The following characters could not be attributed to any category: {{ lastResult.nonAttributableCharacters.join(' ') }}
    </div>

    <table class="table mt-3" *ngIf="lastResult">
      <thead>
      <tr>
        <th scope="col">{{ getLetterTypeDisplay(lastResult.letterType) }}</th>
        <th scope="col">Count</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of lastResult.letterCountList">
        <td>{{ entry[0] }}</td>
        <td>{{ entry[1] }}</td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
